<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
	<meta charset="UTF-8">
	<title>{% block page_title %}{% endblock %}</title>
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
  	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<style>
  		body {
    		display: flex;
    		min-height: 100vh;
    		flex-direction: column;
  		}

  		main {
    		flex: 1 0 auto;
  		}
  	</style>
	<header>
		<div class="nav-fixed">
			<nav class="teal lighten-2">
		    	<div class="nav-wrapper">
		      	<a href="#" class="brand-logo center">Shoppy</a>
		      		<ul id="nav-mobile" class="right hide-on-med-and-down">
		        		<!-- <li><a href="#">Sass</a></li>
		        		<li><a href="#">Components</a></li>
		        		<li><a href="#">JavaScript</a></li> -->
		      		</ul>
		    	</div>
		  	</nav>
		</div>
	</header>
	
	{% block content %}{% endblock %}

	<footer class="page-footer teal lighten-2">
        <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Shoppy</h5>
                <p class="grey-text text-lighten-4">Django Project.</p>
              </div>
              	<div class="col l4 offset-l2 s12">
                	<!-- <h5 class="white-text">Links</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	                </ul> -->
              	</div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © 2016 Jhonbeltran
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>
	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
  	<script src="{ static 'js/materialize.js' }"></script>
  	
</body>
</html>