{% extends "base.html" %}
{% block page_title %}
	{{ product.name }}
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row center">
			<h3 class="teal-text">{{ product.name }}</h3>
		</div>
		<div class="row center">
			<div class="col s12 m6">
				<p class="flow-text">
					{{ product.description }}
				</p>
				<p class="flow-text">
					{{ product.price }}
				</p>
			</div>
			<div class="col s12 m6">
				<img src="{{ product.image.url }}" alt="">
			</div>

		</div>

	</div>
{% endblock %}